
.santd-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.santd-carousel .slick-slide h3 {
    color: #fff;
}


.santd-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.santd-carousel .slick-slide h3 {
    color: #fff;
    margin: 0;
    padding: 0;
}


.santd-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.santd-carousel .slick-slide h3 {
    color: #fff;
}

